<div class="d-flex flex-column w-100 vh-100 app">
  <ng-container *ngIf="deviceType!=='MOBILE' || (deviceType==='MOBILE' && !gameDetail)">
    <div class="w-100 d-flex justify-content-between align-items-center bg-dark pt-3 px-3 header" [ngClass]="{'flex-column': deviceType==='MOBILE'}">
      <h3 class="text-secondary m-0" style="position: relative;top: -10px;">{{title}}</h3>

      <div class="d-flex align-items-center gap-2" [ngClass]="{'flex-column w-100': deviceType==='MOBILE'}">
        <!-- Platform -->
        <mat-form-field appearance="fill" class="no-hover-select w-100">
          <mat-label>Platform</mat-label>
          <mat-select [(value)]="selectedPlatformId" [disableRipple]="true" (selectionChange)="onPlatformSelectChange($event)">
            <ng-container *ngFor="let platform of platforms; trackBy: trackByPlatform">
              <mat-option [value]="platform.id">{{platform.name}} <small *ngIf="platform.games_count" class="ms-1">({{platform.games_count}})</small></mat-option>
            </ng-container>
          </mat-select>
        </mat-form-field>
        <!-- Section -->
        <ng-container *ngIf="deviceType==='MOBILE'">
          <mat-form-field appearance="fill" class="no-hover-select w-100">
            <mat-label>Section</mat-label>
            <mat-select [(value)]="selectedMenuId" [disableRipple]="true" (selectionChange)="onMenuSelectChange($event)">
              <ng-container *ngFor="let menu of menus">
                <mat-option [value]="menu.id">{{menu.label}}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </ng-container>
        <!-- Search -->
        <mat-form-field appearance="fill" class="no-hover-select w-100">
          <mat-label>Search Game</mat-label>
          <input matInput [formControl]="searchControl" placeholder="Type a game name..." />
          <mat-icon matSuffix></mat-icon>
        </mat-form-field>
      </div>
    </div>
  </ng-container>
  
  <div class="d-flex content" [ngClass]="{'mobile': deviceType==='MOBILE'}">
    <ng-container *ngIf="deviceType!=='MOBILE'">
      <div class="w-25 h-100 pt-2 px-2 d-flex flex-column justify-content-start menus" style="overflow: auto;" style="border-right: 1px solid #ccc;">
        <!-- Menus-->
        <ng-container [ngTemplateOutlet]="menusTemplate"></ng-container>
        <!-- Tag cloud -->
        <ng-container *ngIf="genresPage">
          <ng-container [ngTemplateOutlet]="genreTagCloudTemplate"></ng-container>
        </ng-container>
      </div>
    </ng-container>
    
    <div class="h-100 d-flex flex-column justify-content-start align-items-center flex-fill game-grid-container" 
      [ngClass]="{
        'align-items-start': selectedPlatform,
        'p-3': !gameDetail,
        'w-75': deviceType!=='MOBILE',
        'w-100': deviceType==='MOBILE'
      }"
      style="overflow: auto;">
      
      <ng-container *ngIf="gamesPage && !gameDetail">
        <div class="d-flex justify-content-between align-items-center w-100 pe-3"[ngClass]="{'flex-column': deviceType==='MOBILE', 'align-items-end': deviceType==='MOBILE', 'align-items-center': deviceType!=='MOBILE'}" >
          <h5 *ngIf="selectedMenu" [ngClass]="{'w-100': deviceType==='MOBILE'}" class="text-soft">{{selectedMenu.label}}</h5>
          <h5 *ngIf="!selectedMenu && !selectedGenre && !selectedDeveloper" [ngClass]="{'w-100': deviceType==='MOBILE'}" class="text-soft">Search results</h5>
          <h5 *ngIf="!selectedMenu && selectedGenre" [ngClass]="{'w-100': deviceType==='MOBILE'}">{{selectedGenre.name}}</h5>
          <h5 *ngIf="!selectedMenu && selectedDeveloper" [ngClass]="{'w-100': deviceType==='MOBILE'}">Developed by {{selectedDeveloper.name}}</h5>
          <small>{{gamesPage.results?.length}} of {{gamesPage.count}}</small>
        </div>
        <div class="d-flex flex-wrap w-100">
          <ng-container *ngFor="let game of gamesPage.results; trackBy: trackByGame">
            <ng-container [ngTemplateOutlet]="gameCardTemplate" [ngTemplateOutletContext]="{game}"></ng-container>
          </ng-container>
          <ng-container *ngIf="gamesPage.next">
            <ng-container [ngTemplateOutlet]="gameCardTemplate"></ng-container>
          </ng-container>
        </div>
      </ng-container>

      <ng-container *ngIf="gameDetail">
        <ng-container [ngTemplateOutlet]="gameDetailTemplate"></ng-container>
      </ng-container>

    </div>
  </div>
</div>

<!-- Menus template -->
<ng-template #menusTemplate>
  <table class="table table-hover table-sm">
    <tbody>
      <ng-container *ngFor="let menu of menus">
        <tr>
          <td class="ps-2" [ngClass]="{'active': selectedMenu?.id===menu.id}">
            <a href="javascript://" (click)="selectMenu(menu)">
              <i class="{{(selectedMenu?.id===menu.id)?menu.iconClassOn:menu.iconClassOff}} me-2" [ngClass]="{'fa-beat-fade': selectedMenu?.id===menu.id && searching()}"></i>
              {{menu.label}}
            </a>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</ng-template>
<!-- End Menus template -->

<!-- Game card template -->
<ng-template #gameCardTemplate let-game="game" let-index="index">
  <div class="game-card p-2 flex-fill {{(game && game.slug)? game.slug : ((index)?'game-' + index : '')}}" style="width: {{gameWidthPercent}}%;max-width:{{gameWidthPercent}}%;">
    <div class="card shadowed" style="background-image: url('{{game?.background_image || ''}}')">
      <div class="card-body d-flex flex-column justify-content-between p-2">
        
          <ng-container *ngIf="game">
            <div class="d-flex flex-column align-items-start">
              <div class="d-flex w-100 gap-2">
                <div class="title px-2 cursor-pointer flex-grow-1 text-truncate shadowed" matTooltip="{{game.name}}" matTooltipPosition="below" (click)="getGameDetail(game.id, index)">{{game.name}}</div>
                <div class="rating {{getRatingClass(game.rating)}} shadowed" matTooltip="RAWG rating" matTooltipPosition="below" *ngIf="game.rating && game.rating>0">{{game.rating | number:'1.1-1'}}</div>
              </div>
              <div class="d-flex flex-column align-items-end justify-content-start w-100 gap-2 pt-2 pe-1">
                <div class="d-flex justify-content-between align-items-center w-100">
                  <small class="px-2 py-0 shadowed card-released text-light" matTooltip="{{game.released?'Relaease date: '+getReleaseDateFormatted(game.released):''}}" matTooltipPosition="below">{{getReleaseDateFormatted(game.released)}}</small>
                  <div>
                    <i (click)="toggleFavouriteGame(game)" *ngIf="!isFavouriteGame(game)" matTooltip="Toggle favourite" matTooltipPosition="left" class="far fa-star text-light cursor-pointer"></i>
                    <i (click)="toggleFavouriteGame(game)" *ngIf="isFavouriteGame(game)" matTooltip="Toggle favourite" matTooltipPosition="left" class="fas fa-star text-warning cursor-pointer"></i>
                  </div>
                </div>
                <i (click)="toggleWishlistGame(game)" *ngIf="!isWishlistGame(game)" matTooltip="Toggle wishlist" matTooltipPosition="left" class="far fa-heart text-light cursor-pointer"></i>
                <i (click)="toggleWishlistGame(game)" *ngIf="isWishlistGame(game)" matTooltip="Toggle wishlist" matTooltipPosition="left" class="fas fa-heart text-warning cursor-pointer"></i>
              </div>
            </div>

            <div div class="d-flex w-100 card-platforms px-3 py-1 shadowed">
              <ng-container [ngTemplateOutlet]="platformIconsTemplate" [ngTemplateOutletContext]="{'gameItem': game}"></ng-container>
            </div>
          </ng-container>

          <ng-container *ngIf="game===undefined && gamesPage && gamesPage.next">
            <div class="d-flex justify-content-center align-items-center w-100 h-100">
              <div class="d-flex justify-content-center align-items-center cursor-pointer flex-grow-1 h-100" (click)="paginateGameList(gamesPage.next)">
                <i class="fas fa-plus text-light fs-2" matTooltip="More games" matTooltipPosition="above" [ngClass]="{'fa-beat-fade':searching()}"></i>
              </div>
            </div>
          </ng-container>
        
      </div>
    </div>
  </div>
</ng-template>
<!-- End Game card template -->

<!-- Game detail template -->
<ng-template #gameDetailTemplate>
  <ng-container *ngIf="gameDetail">
    <!-- <div class="w-100 h-100 game-detail-container d-flex flex-column" style="background-image: url('{{gameDetail.background_image || ''}}')"> -->
      <div class="w-100 h-100 game-detail-container d-flex flex-column">
      
      <h5 class="d-flex justify-content-between align-items-center m-0 py-2 px-4 w-100 game-header">
        <div class="flex-fill-1 text-truncate pe-2">{{gameDetail.name}}</div>
        <div class="d-flex align-items-center gap-3">
          <div class="rating {{getRatingClass(gameDetail.rating)}} shadowed" matTooltip="RAWG rating" matTooltipPosition="below" *ngIf="gameDetail.rating && gameDetail.rating>0">{{gameDetail.rating | number:'1.1-1'}}</div>
          <i class="fas fa-close cursor-pointer fs-4" (click)="gameDetail=undefined;"></i>
        </div>
      </h5>

      <div class="d-flex justify-content-between align-items-center w-100 ps-3 pe-4 mb-2 game-subheader">
        <ng-container [ngTemplateOutlet]="platformIconsTemplate" [ngTemplateOutletContext]="{'gameDetailItem': gameDetail, showName:deviceType!=='MOBILE'}"></ng-container>
        <div class="d-flex align-items-center gap-3">
          <i (click)="toggleFavouriteGame(gameDetail)" *ngIf="!isFavouriteGame(gameDetail)" matTooltip="Toggle favourite" matTooltipPosition="above" class="far fa-star text-light cursor-pointer"></i>
          <i (click)="toggleFavouriteGame(gameDetail)" *ngIf="isFavouriteGame(gameDetail)" matTooltip="Toggle favourite" matTooltipPosition="above" class="fas fa-star text-warning cursor-pointer"></i>
          <i (click)="toggleWishlistGame(gameDetail)" *ngIf="!isWishlistGame(gameDetail)" matTooltip="Toggle wishlist" matTooltipPosition="above" class="far fa-heart text-light cursor-pointer"></i>
          <i (click)="toggleWishlistGame(gameDetail)" *ngIf="isWishlistGame(gameDetail)" matTooltip="Toggle wishlist" matTooltipPosition="above" class="fas fa-heart text-warning cursor-pointer"></i>
          <span class="d-flex released px-2 shadowed"><span *ngIf="deviceType!=='MOBILE'">Release date: </span>{{getReleaseDateFormatted(gameDetail.released, true)}}</span>
        </div>
      </div>

      <div class="d-flex w-100 gap-3 my-2 py-3 px-4 game-content" [ngClass]="{'mobile': deviceType==='MOBILE'}">
        <ng-container *ngIf="deviceType!=='MOBILE'">
          <div class="d-flex flex-column w-25">
            <p class="p-3 shadowed game-description" [innerHTML]="gameDetail.description"></p>
          </div>
        </ng-container>
        <div class="d-flex flex-column gap-2 game-sections-right" [ngClass]="{'w-50':deviceType!=='MOBILE', 'mobile': deviceType==='MOBILE','w-100':deviceType==='MOBILE'}">
          <p class="shadowed transparent">
            <app-screenshot-slider [screenshots]="gameScreenshots || []" class="shadowed"></app-screenshot-slider>
          </p>
          <ng-container *ngIf="deviceType==='MOBILE'">
              <div class="p-3 shadowed">{{gameDetail.description_raw}}</div>
           </ng-container>
          <ng-container [ngTemplateOutlet]="ratingsTemplate" [ngTemplateOutletContext]="{'gameDetailItem': gameDetail}"></ng-container>
          <ng-container [ngTemplateOutlet]="genresTemplate" [ngTemplateOutletContext]="{'gameDetailItem': gameDetail}"></ng-container>
          <ng-container [ngTemplateOutlet]="tagsTemplate" [ngTemplateOutletContext]="{'gameDetailItem': gameDetail}"></ng-container>
          <ng-container [ngTemplateOutlet]="developersTemplate" [ngTemplateOutletContext]="{'gameDetailItem': gameDetail}"></ng-container>
          <ng-container [ngTemplateOutlet]="metacriticUrlTemplate" [ngTemplateOutletContext]="{'gameDetailItem': gameDetail}"></ng-container>
          <ng-container [ngTemplateOutlet]="videoPlatformsTemplate" [ngTemplateOutletContext]="{'gameDetailItem': gameDetail}"></ng-container>
        </div>
        <ng-container *ngIf="deviceType!=='MOBILE'">
          <div class="d-flex flex-column w-25 game-sections-right">
            <!-- Game prices -->
            <ng-container [ngTemplateOutlet]="gamePricesTemplate"></ng-container>
            <!-- End Game prices -->
          </div>
        </ng-container>
      </div>
    </div>
  </ng-container>
</ng-template>
<!-- End Game detail template -->

<!-- Platform icons template -->
<ng-template let-gameDetailItem="gameDetailItem" let-gameItem="gameItem" let-showName="showName" #platformIconsTemplate>
  <div class="d-flex gap-2" [ngClass]="{'px-3 py-2':gameDetailItem}">

    <ng-container *ngIf="gameDetailItem && gameDetailItem.platforms?.length>0">
      <ng-container *ngFor="let platform of  getSortedPlatforms(gameDetailItem.platforms); let idx = index;">
        <ng-container *ngIf="platform && platform.platform.slug && idx<3">

          <ng-container *ngIf="platform.platform.slug.includes('playstation')">
            <div class="d-flex align-items-center gap-1 px-2 detail-platform-item shadowed" matTooltip="{{platform.platform.name}}" matTooltipPosition="above">
              <i class="fa-brands fa-playstation text-light"></i>
              <ng-container><span class="ms-1 text-light" *ngIf="showName">{{platform.platform.name}}</span></ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="platform.platform.slug.includes('xbox')">
            <div class="d-flex align-items-center gap-1 px-2 detail-platform-item shadowed" matTooltip="{{platform.platform.name}}" matTooltipPosition="above">
              <i class="fa-brands fa-xbox text-light"></i>
              <ng-container><span class="ms-1 text-light" *ngIf="showName">{{platform.platform.name}}</span></ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="platform.platform.slug==='pc'">
            <div class="d-flex align-items-center gap-1 px-2 detail-platform-item shadowed" matTooltip="{{platform.platform.name}}" matTooltipPosition="above">
              <i class="fa-solid fa-desktop text-light"></i>
              <ng-container><span class="ms-1 text-light" *ngIf="showName">{{platform.platform.name}}</span></ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="platform.platform.slug.includes('ios')">
            <div class="d-flex align-items-center gap-1 px-2 detail-platform-item shadowed" matTooltip="{{platform.platform.name}}" matTooltipPosition="above">
              <i class="fa-brands fa-apple text-light"></i>
              <ng-container><span class="ms-1 text-light" *ngIf="showName">{{platform.platform.name}}</span></ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="platform.platform.slug.includes('mac')">
            <div class="d-flex align-items-center gap-1 px-2 detail-platform-item shadowed" matTooltip="{{platform.platform.name}}" matTooltipPosition="above">
              <i class="fa-brands fa-apple text-light"></i>
              <ng-container><span class="ms-1 text-light" *ngIf="showName">{{platform.platform.name}}</span></ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="platform.platform.slug.includes('linux')">
            <div class="d-flex align-items-center gap-1 px-2 detail-platform-item shadowed" matTooltip="{{platform.platform.name}}" matTooltipPosition="above">
              <i class="fa-brands fa-linux text-light"></i>
              <ng-container><span class="ms-1 text-light" *ngIf="showName">{{platform.platform.name}}</span></ng-container>     
            </div>
          </ng-container>
          <ng-container *ngIf="platform.platform.slug.includes('web')">
            <div class="d-flex align-items-center gap-1 px-2 detail-platform-item shadowed" matTooltip="{{platform.platform.name}}" matTooltipPosition="above">
              <i class="fa-solid fa-earth-europe text-light"></i>
              <ng-container><span class="ms-1 text-light" *ngIf="showName">{{platform.platform.name}}</span></ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="platform.platform.slug.includes('nintendo')">
            <div class="d-flex align-items-center gap-1 px-2 detail-platform-item shadowed" matTooltip="{{platform.platform.name}}" matTooltipPosition="above">
              <i class="fa-solid fa-gamepad text-light"></i>
              <ng-container><span class="ms-1 text-light" *ngIf="showName">{{platform.platform.name}}</span></ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="platform.platform.slug.includes('game-boy')">
            <div class="d-flex align-items-center gap-1 px-2 detail-platform-item shadowed" matTooltip="{{platform.platform.name}}" matTooltipPosition="above">
              <i class="fa-solid fa-gamepad text-light"></i>
              <ng-container><span class="ms-1 text-light" *ngIf="showName">{{platform.platform.name}}</span></ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="platform.platform.slug.includes('android')">
            <div class="d-flex align-items-center gap-1 px-2 detail-platform-item shadowed" matTooltip="{{platform.platform.name}}" matTooltipPosition="above">
              <i class="fa-solid fa-mobile-screen text-light"></i>
              <ng-container><span class="ms-1 text-light" *ngIf="showName">{{platform.platform.name}}</span></ng-container>
            </div>
          </ng-container>
          
        </ng-container>
        <ng-container *ngIf="platform && platform.platform.slug && idx===3">
          <span>...</span>
        </ng-container>
      </ng-container>
    </ng-container>

    <ng-container *ngIf="gameItem && gameItem.platforms?.length>0">
      <ng-container *ngFor="let platform of getSortedPlatforms(gameItem.platforms)">
        <i *ngIf="platform.platform.slug?.includes('playstation')" class="fa-brands fa-playstation text-light" matTooltip="{{platform.platform.name}}" matTooltipPosition="above"></i>
        <i *ngIf="platform.platform.slug?.includes('xbox')" class="fa-brands fa-xbox text-light" matTooltip="{{platform.platform.name}}" matTooltipPosition="above"></i>
        <i *ngIf="platform.platform.slug?.includes('pc')" class="fa-solid fa-desktop text-light" matTooltip="{{platform.platform.name}}" matTooltipPosition="above"></i>
        <i *ngIf="platform.platform.slug?.includes('ios')" class="fa-brands fa-apple text-light" matTooltip="{{platform.platform.name}}" matTooltipPosition="above"></i>
        <i *ngIf="platform.platform.slug?.includes('web')" class="fa-solid fa-earth-europe text-light" matTooltip="{{platform.platform.name}}" matTooltipPosition="above"></i>
        <i *ngIf="platform.platform.slug?.includes('android')" class="fa-solid fa-mobile-screen text-light" matTooltip="{{platform.platform.name}}" matTooltipPosition="above"></i>
        <i *ngIf="platform.platform.slug?.includes('nintendo')" class="fa-solid fa-gamepad text-light" matTooltip="{{platform.platform.name}}" matTooltipPosition="above"></i>
        <i *ngIf="platform.platform.slug?.includes('game-boy')" class="fa-solid fa-gamepad text-light" matTooltip="{{platform.platform.name}}" matTooltipPosition="above"></i>
      </ng-container>
    </ng-container>
  </div>
</ng-template>
<!-- End Platform icons template -->

<!-- Genres template -->
<ng-template let-gameDetailItem="gameDetailItem" #genresTemplate>
  <div class="d-flex flex-column w-100 game-section p-2 pb-3 shadowed">
    <span class="px-2 badge rounded-pill text-light mb-2 shadowed" style="width: fit-content;">Genres ({{gameDetailItem.genres?.length}})</span>
    <p class="d-flex flex-wrap gap-1 p-0 px-2 m-0 transparent">
      <ng-container *ngIf="gameDetailItem.genres?.length>0">
        <ng-container *ngFor="let genre of gameDetailItem.genres">
          <span class="badge rounded-pill text-bg-secondary cursor-pointer  shadowed" (click)="selectGenre(genre)">
            {{genre.name}}
          </span>
        </ng-container>
      </ng-container>
    </p>
  </div>
</ng-template>
<!-- End Genres template -->

<!-- Features template -->
<ng-template let-gameDetailItem="gameDetailItem" #tagsTemplate>
  <div class="d-flex flex-column w-100 game-section p-2 pb-3 shadowed">
    <span class="px-2 badge rounded-pill text-light mb-2 shadowed" style="width: fit-content;">Features ({{gameDetailItem.tags?.length}})</span>
    <p class="d-flex flex-wrap gap-1 p-0 m-0 px-2 transparent tags-template">
      <ng-container *ngIf="gameDetailItem.tags?.length>0">
        <ng-container *ngFor="let tag of gameDetailItem.tags; let idx = index;">
          <span class="badge rounded-pill text-bg-secondary shadowed">{{tag.name}}</span>
        </ng-container>
      </ng-container>
    </p>
  </div>
</ng-template>
<!-- End Features template -->

<!-- Developers template -->
<ng-template let-gameDetailItem="gameDetailItem" #developersTemplate>
  <div class="d-flex flex-column w-100 game-section p-2 pb-3 shadowed">
    <span class="px-2 badge rounded-pill text-light mb-2 shadowed" style="width: fit-content;">Developers ({{gameDetailItem.developers?.length}})</span>
    <p class="d-flex flex-wrap gap-1 p-0 px-2 m-0 transparent">
      <ng-container *ngIf="gameDetailItem.developers?.length>0">
        <ng-container *ngFor="let developer of gameDetailItem.developers">
          <span class="badge rounded-pill text-bg-secondary shadowed cursor-pointer" (click)="selectDeveloper(developer)">{{developer.name}}</span>
        </ng-container>
      </ng-container>
    </p>
  </div>
</ng-template>
<!-- End Developers template -->

<!-- Metacritic URL template -->
<ng-template let-gameDetailItem="gameDetailItem" #metacriticUrlTemplate>
  <div class="d-flex flex-column w-100 game-section p-2 pb-3 shadowed">
    <span class="px-2 badge rounded-pill text-light mb-2 shadowed" style="width: fit-content;">Metacritic URL</span>
    <p class="d-flex flex-wrap gap-1 p-0 px-1 m-0 transparent">
      <span class="badge rounded-pill text-truncate">
        <a *ngIf="gameDetailItem.metacritic_url" href="{{gameDetailItem.metacritic_url}}" target="_blank">{{gameDetailItem.metacritic_url}}</a>
        <span *ngIf="!gameDetailItem.metacritic_url">-</span>
      </span>
    </p>
  </div>
</ng-template>
<!-- End Metacritic URL template -->

<!-- Video platforms template -->
<ng-template let-gameDetailItem="gameDetailItem" #videoPlatformsTemplate>
  <div class="d-flex flex-column w-100 game-section p-2 pb-3 shadowed">
    <span class="px-2 badge rounded-pill text-light mb-2 shadowed" style="width: fit-content;">Videos / Gameplay</span>
    <p class="d-flex flex-wrap gap-2 p-0 px-2 m-0 transparent">
      <span class="badge rounded-pill fs-4 p-0 cursor-pointer" matTooltip="Youtube" matTooltipPosition="below" (click)="openUrl('https://www.youtube.com/results?search_query='+gameDetailItem.name.replace('&','%26')+(selectedPlatform?.slug!=='all'?' '+selectedPlatform?.slug:''))">
        <i class="fa-brands fa-youtube text-danger"></i>
      </span>
      <span class="badge rounded-pill fs-4 p-0 cursor-pointer" style="color:darkorchid;" matTooltip="Twitch" matTooltipPosition="below" (click)="openUrl('https://www.twitch.tv/search?term='+gameDetailItem.name.replace('&','%26'))">
        <i class="fa-brands fa-twitch"></i>
      </span>
    </p>
  </div>
</ng-template>
<!-- End Video platforms template -->

<!-- Ratings template -->
<ng-template let-gameDetailItem="gameDetailItem" #ratingsTemplate>
  <div class="d-flex flex-column w-100 game-section py-2 px-3 pb-3 shadowed">
    <span class="px-0 badge rounded-pill text-light mb-2 shadowed" style="width: fit-content;">Ratings</span>
    <div class="d-flex w-100 ratings-container shadowed">
      <ng-container *ngIf="gameDetailItem.ratings && gameDetailItem.ratings.length>0">
        <ng-container *ngFor="let rating of gameDetailItem.ratings">
          <div class="h-100 rating-{{rating.id}} p-2" style="width:{{rating.percent}}%" matTooltip="{{'Skip: '+rating.count+' ('+rating.percent+'%)'}}" matTooltipPosition="above" *ngIf="rating.id===1"></div>
          <div class="h-100 rating-{{rating.id}} p-2" style="width:{{rating.percent}}%" matTooltip="{{'Meh: '+rating.count+' ('+rating.percent+'%)'}}" matTooltipPosition="above" *ngIf="rating.id===3"></div>
          <div class="h-100 rating-{{rating.id}} p-2" style="width:{{rating.percent}}%" matTooltip="{{'Recommended: '+rating.count+' ('+rating.percent+'%)'}}" matTooltipPosition="above" *ngIf="rating.id===4"></div>
          <div class="h-100 rating-{{rating.id}} p-2" style="width:{{rating.percent}}%" matTooltip="{{'Exceptional: '+rating.count+' ('+rating.percent+'%)'}}" matTooltipPosition="above" *ngIf="rating.id===5"></div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="!gameDetailItem.ratings || gameDetailItem.ratings.length===0">
        <small class="text-warning px-3">No ratings</small>
      </ng-container>
    </div>
    <ng-container *ngIf="gameDetailItem.ratings && gameDetailItem.ratings.length>0">
      <div class="d-flex justify-content-around align-items-start w-100 ratings-legend mt-2 gap-2 shadowed" [ngClass]="{'flex-column': deviceType==='MOBILE', 'mt-3': deviceType==='MOBILE', 'p-2': deviceType==='MOBILE'}">
        <div class="d-flex px-2 gap-1" [ngClass]="{'align-items-start': deviceType==='MOBILE', 'align-items-center': deviceType!=='MOBILE'}">
          <i class="fas fa-circle rating-5"></i> <span>Exceptional</span>
        </div>
        <div class="d-flex align-items-center px-2 gap-1" [ngClass]="{'align-items-start': deviceType==='MOBILE', 'align-items-center': deviceType!=='MOBILE'}">
          <i class="fas fa-circle rating-4"></i> <span>Recommended</span>
        </div>
        <div class="d-flex align-items-center px-2 gap-1" [ngClass]="{'align-items-start': deviceType==='MOBILE', 'align-items-center': deviceType!=='MOBILE'}">
          <i class="fas fa-circle rating-3"></i> <span>Meh</span>
        </div>
        <div class="d-flex align-items-center px-2 gap-1" [ngClass]="{'align-items-start': deviceType==='MOBILE', 'align-items-center': deviceType!=='MOBILE'}">
          <i class="fas fa-circle rating-1"></i> <span>Skip</span>
        </div>
      </div>
    </ng-container>
  </div>
</ng-template>
<!-- End Ratings template -->

<!-- Genre tags cloud Template -->
<ng-template #genreTagCloudTemplate>
  <div class="d-flex flex-wrap gap-2 p-2 pb-3 mt-3">
    <ng-container *ngFor="let genre of genresPage?.results">
      <span class="badge-outline rounded-pill badge-lightgray cursor-pointer shadowed" 
        [ngClass]="{'text-bg-warning': selectedGenre?.id===genre.id}"
        (click)="selectGenre(genre)">
          <i class="fas fa-spinner fa-spin me-1" *ngIf="selectedGenre?.id===genre.id && searching()"></i>
          {{genre.name}}
        </span>
    </ng-container>
  </div>
</ng-template>
<!-- End Genre tags cloud Template -->

<!-- Game prices template -->
<ng-template #gamePricesTemplate>
  <ng-container *ngIf="gamePrices && gamePricesApiOn()">
    <div class="d-flex flex-wrap align-items-center gap-2 w-100 p-0 mb-3">
      <ng-container *ngFor="let gamePrice of gamePrices">
        <div class="d-flex flex-column game-price-item p-0 w-100 shadowed">
          <div class="game-price-item-game-name text-truncate px-2 py-1 mb-2" matTooltip="{{gamePrice.deals?.gameInfo?.name}}" matTooltipPosition="above">{{gamePrice.deals?.gameInfo?.name}}</div>
          <div class="d-flex justify-content-between w-100 px-2 py-1">
            <div class="game-price-item-shop-name">{{gamePrice.deals?.gameInfo?.storeName}}</div>
            <div class="game-price-item-price fs-5 shadowed px-2 py-1">{{gamePrice.deals?.gameInfo?.salePrice}}€</div>
          </div>
          <div class="game-price-item-rating-text text-end px-2 py-1">
            <span [ngClass]="{
              'text-light bg-success px-1 shadowed': gamePrice.deals && gamePrice.deals.gameInfo && gamePrice.deals.gameInfo.steamRatingText && gamePrice.deals.gameInfo.steamRatingText.toLowerCase().indexOf('positive')>=0,
              'text-dark bg-warning px-1 shadowed': gamePrice.deals && gamePrice.deals.gameInfo && gamePrice.deals.gameInfo.steamRatingText && gamePrice.deals.gameInfo.steamRatingText.toLowerCase().indexOf('mixed')>=0
            }">{{gamePrice.deals?.gameInfo?.steamRatingText || '&nbsp;'}}</span>
          </div>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="gamePrices && !gamePricesApiOn()">
    <div class="text-danger w-100">Prices API not available</div>
  </ng-container>
</ng-template>
<!-- End Game prices template -->
